.clock {
    font-size: 28px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 10px auto;
    border: 3px solid lightblue;
    border-radius: 50%;
}

.title {
    text-align: center;
    margin: auto;
}
